<%= form_with scope: :article, url: user_articles_path, local: true do |form| %>
  <div class="form-group">

  <% if @article.errors.any? %>
    <div id="error_explanation">

        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
    </div>
  <% end %>
    <div class="form-label-group">
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title, class: 'form-control' %>
  </p></div>

    <div class="form-label-group">
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text, class: 'form-control' %>
  </p></div>

  <p>
    <%= form.submit 'Submit', class: "btn btn-success btn-xs" %>
    <%= link_to 'Back', user_articles_path(current_user), class: 'btn btn-primary btn-xs' %>
  </p>
  </div>
<% end %>