<%= form_with scope: :article, url: user_articles_path, local: true do |form| %>
  <div class="form-group">

  <% if @article.errors.any? %>
    <div id="error_explanation">

        <% @article.errors.full_messages.each do |msg| %>
        <p class = "text text-danger">*&nbsp<%= msg %></p>
        <% end %>
    </div>
  <% end %>


    <%= form.label :title %><p>
    <%= form.text_field :title, class: 'form-control' %>
  </p>



    <%= form.label :text %><p>
    <%= form.text_area :text, class: 'form-control' %>
  </p>

  <p>
    <%= form.submit 'Submit', class: "btn btn-success btn-xs" %>
  </p>
  </div>
<% end %>