<%if current_user %>
<div class="container">
  <div class="jumbotron">

<h1><%= @article.title %></h1>
      <span class="label label-primary"> Last update <%= @article.updated_at.strftime("%b %d, %Y") %></span>
      </div>


    <div class="panel panel-default">
      <div class="panel-body">
<p>
  <%= @article.text %>
</p>

      </div>
      <div class="panel-footer">By:<strong> <%=@article.user.name %></strong></div>
    </div>
</div>
  <div class="container">
    <% @user = User.find(params[:user_id])%>
    <% if @article.user == @user || current_user.role == "admin" %>
    <%= link_to 'Edit Article', edit_user_article_path(@article),class: 'btn btn-success btn-xs'%>
      <%end %>
  </div>
  <div class="container">
<h2>Comments</h2> </div>
<% @article.comments.each do |comment| %>
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-body">

          <p>
            <%= comment.body %>
          </p></div>

        <div class="panel-footer panel-primary"><strong>
          <%= comment.commenter %></strong> </div>

      </div>

  <p>
    <% if comment.user == @user || current_user.role == "admin"  %>
    <%= link_to 'Remove', [@article.user,comment.article, comment],
                method: :delete,
                data: { confirm: 'Are you sure?' }, class: 'label label-danger' %>
<%end %>
  </p>
    </div>
<% end %>
<% @user = User.find(params[:user_id])%>

    <div class="container">
<h3>Add a comment:</h3>
<%= form_with(model: [ @user,@article, @article.comments.build ], local: true) do |form| %>
        <div class="form-group">
    <label for="username">Commenter</label>
    <p>
    <%= form.text_field :commenter %></p>

  <p>
    <%= form.text_area :body, class:'form-control'%></p>
  <p>
    <%= form.submit 'Submit', class: 'btn btn-success btn-sm' %>
  </p>
        </div>
<% end %>

<%= link_to 'Back', user_articles_path,class: 'btn btn-primary btn-xs' %>

    </div>
<%end %>

