<div class="row">
<div class = "container">

<%= form_with model: @user, local: true do |form| %>


<% if @user.errors.any? %>
  <div id="error_explanation">

<p>
      <% @user.errors.full_messages.each do |msg| %>
      <p class = "text text-danger">*&nbsp<%= msg %></p>
      <% end %>

  </div>

<% end %>
    </p>

      <label for="username">Name</label>
    <p>
  <%= form.text_field :name %></p>

      <label for="emailaddress">Email Address</label>
  <p>
  <%= form.text_field :email,:disabled => true %></p>

    <label for="password">Password</label>
    <p>
      <%= form.password_field :password %></p>

    <label for="Password">Confirm Password</label>
    <p>
      <%= form.password_field :password_confirmation %></p>




  <%= form.submit 'Update', class: "btn btn-success btn-sm" %>




<% end %>
  </div>
    </div>
</div>
</div>