<div class="row">
  <div class = "container">

    <p id=”alert”><%= alert %></p>

    <div class="col-md-4 col-md-4 col-md-4  mx-auto"></div>
    <div class="col-sm-8 col-md-7 col-lg-4 mx-auto">
      <div class="card card-signin my-5">

        <div class="card-body ">
          <%= form_with model: @user, local: true do |form| %>

            <% if @user.errors.any? %>
              <div id="error_explanation">

                <ul>
                  <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="form-signin">
              <div class="form-label-group">

                <input type="name" name="user[name]"  class="form-control" placeholder="Name" required autofocus>
                <label for="inputName">Name</label>
              </div>

              <div class="form-label-group">

                <input type="email" name="user[email]"  class="form-control" placeholder="Email address" required autofocus>
                <label for="inputEmail">Email address</label>
              </div>


              <div class="form-label-group">

                <input type="password" name="user[password]"  class="form-control" placeholder="password" required autofocus>
                <label for="inputPassword">Password</label>
              </div>

              <div class="form-label-group">

                <input type="password" name="user[password_confirmation]"  class="form-control" placeholder="password" required autofocus>
                <label for="inputPassword">Confirm Password</label>
              </div>


              <%= form.submit 'Submit', class: "btn btn-success btn-block text-uppercase" %>


              <%= link_to 'Home', root_url,class: 'btn btn-info btn-block text-uppercase' %>

            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>